<%- include('../partials/header') %>

<section id="show-page">
  <div>Instrument: </div>
  <div><%= session.instrument %></div>
  <div>Exercise: </div>
  <div><%= session.exercise %></div>
  <div>Duration: </div>
  <div><%= session.duration%></div>
  <div>Technique: </div>
  <div><%= session.technique %></div>
  <div>Date: </div>
  <div><%= session.date %></div>
  <div>Rating: </div>
  <div><%= session.rating %></div>
</section>

<%- include('../partials/footer') %>