<%- include('../partials/header') %>

<section id="show-page">
  <div><b>Instrument:</b> </div>
  <div><%= session.instrument %></div>
  <div><b>Exercise:</b> </div>
  <div><%= session.exercise %></div>
  <div><b>Duration: </b></div>
  <div><%= session.duration%></div>
  <div><b>Technique:</b> </div>
  <div><%= session.technique %></div>
  <div><b>Date: </b></div>
  <div><%= session.date %></div>
  <div><b>Rating: </b></div>
  <div><%= session.rating %></div>
</section>

<!-- Add an "Edit Session" button -->
<a href="/sessions/<%= session._id %>/edit">
  <button class="edit-button" type="submit">Edit Session</button>
</a>


<!-- Add Notes Form -->
<h2>Notes</h2>
<button onclick="window.location.href='/sessions/<%= session._id %>/notes/new'">Create a New Note</button>

<% if (session.notes.length) { %>
      <% session.notes.forEach(function(n) { %>
        <section class="card">
          <div><b>Date</b></div>
          <div><%= n.date %></div>
          <div><b>Rating</b></div>
          <div><%= n.rating %></div>
          <div><b>Content</b></div>
          <div><%= n.content %></div>
          <form action="/notes/<%= n._id %>?_method=DELETE" method="POST">
            <button class="remove-button" type="submit">Remove</button>
          </form>
      <% }); %>
<% } else { %>
  <h2>No Notes Yet</h2>
</section>
<% } %>

<%- include('../partials/footer') %>