<%- include('../partials/header') %>

<section id="show-page">
  <div>Instrument: </div>
  <div><%= session.instrument %></div>
  <div>Exercise: </div>
  <div><%= session.exercise %></div>
  <div>Duration: </div>
  <div><%= session.duration%></div>
  <div>Technique: </div>
  <div><%= session.technique %></div>
  <div>Date: </div>
  <div><%= session.date %></div>
  <div>Rating: </div>
  <div><%= session.rating %></div>
</section>

<!-- Add Notes Form -->
<h2>Notes</h2>
<a href="/sessions/<%= session._id %>/notes/new">Create a New Note</a>

<% if (session.notes.length) { %>
      <% session.notes.forEach(function(n) { %>
        <section>
          <div><strong>Date</strong></div>
          <div><%= n.date %></div>
          <div><strong>Rating</strong></div>
          <div><%= n.rating %></div>
          <div><strong>Content</strong></div>
          <div><%= n.content %></div>
      <% }); %>
<% } else { %>
  <h2>No Tickets Yet</h2>
</section>
<% } %>

<%- include('../partials/footer') %>